html, body {
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.object {
    transition: background-color 0.5s ease;
    cursor: pointer;
    text-align: center;
}

div.object:hover {
    background-color: #b5def9;
}

.object-img {
    display: block;
    margin: auto;
}

div.user-side {
    background-color: #3CC0FE;
}

div.computer-side {
    background-color: #FF6949;;
}

.history-item {
    transition: background-color 0.5s ease;
    padding-left: 5px;
    margin-bottom: 10px;
}

.history-item:hover {
    background-color: #FDD53C;
}
